.stats-window {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;

  .link-stats {
    margin: 10px;
    padding-left: 20px;
    box-sizing: border-box;
    -webkit-box-shadow: 3px 3px 10px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 3px 3px 10px 0 rgba(0,0,0,.3);
    box-shadow: 3px 3px 10px 0 rgba(0,0,0,.3);
  }
}